<!DOCTYPE html>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">

<div class="container">
  <h1 class="logo">Check Sentiments of Trending TikToks!</h1>
  <strong><nav>
    <ul class="menu">
      <li><a href="{{ url_for('main') }}">Home</a></li>
      <li><a href="{{ url_for('about_us') }}">About Us</a></li>
      <li><a href="{{ url_for('what') }}">What is Sentiment Analysis?</a></li>
    </ul>
  </nav></strong>
</div>

<section class="content">
{% block header %}
  <h1>{% block title %}♫ What is Sentiment Analysis? ♪{% endblock %}</h1>
{% endblock %}
</section>

