{% extends 'base.html' %}
{% block body %}

<div class="splash-container">
  <div class="pure-g">
    <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
      <section class="splash-content">
      <br>
      <h2 class="content-head is-center">♫ Our Goal ♪</h2>

      <p>Over the past several years, the social media app “TikTok” has gained substantial popularity, 
        and according to Cloudflare, was the most visited website in 2021 surpassing Google. 
        In popular culture, TikTok is regarded as an addictive app and many users report spending 
        hours scrolling through videos on TikTok. Since social media addiction is associated with 
        anxiety and depression, we hoped to closely examine the content posted on the app and the 
        effect that it may have on its users. To do so, we collected text data from trending 
        TikToks including captions, hashtags, and sounds to analyze their sentiments using sentiment 
        analysis. 
        </p>

      <h2 class="content-head is-center">♫ What is Sentiment Analysis? ♪</h2>
      
      <p>Sentiment analysis is a form of natural language processing (NLP) in which the computer is 
      able to detect the emotional tone inferred from the text. In our project, we use the VADER 
      sentiment analyzer that was specifically built to analyze the sentiment of text used in 
      social media.</p>


      <h2 class="content-head is-center">♫ Credits ♪</h2>
      <p>The TikTok data from our TikTok database was collected using <a href="https://github.com/davidteather/TikTok-Api">this unofficial API.</a>
      In addition, the source code for this web app can be found <a href="https://github.com/pure-css/pure/">here. </a>
      </p>
    </section>
    </div>
  </div>
</div>
{% endblock %}



